  <div class="app-sidebar sidebar-shadow">
    <div class="app-header__logo">
        <div class="logo-src"></div>
        <div class="header__pane ml-auto">
        <div>
            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
            </button>
        </div>
        </div>
    </div>
    <div class="app-header__mobile-menu">
        <div>
        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
            <span class="hamburger-box">
            <span class="hamburger-inner"></span>   
            </span>
        </button>
        </div>
    </div>
    <div class="app-header__menu">
        <span>
        <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
            <span class="btn-icon-wrapper">
            <i class="fa fa-ellipsis-v fa-w-6"></i>
            </span>
        </button>
        </span>
    </div>
    <div class="scrollbar-sidebar">
        <div class="app-sidebar__inner">
        <ul class="vertical-nav-menu">
            <li class="app-sidebar__heading">Dashboards</li>
            <li>
            <a href="/report/admin" class="mm-{{cssactive page 'report'}}">
                <i class="metismenu-icon pe-7s-rocket"></i>
                Home
            </a>
            </li>
            <li class="app-sidebar__heading">Orders</li>
            <li>
            <a href="/invoice/orderlist" class="mm-{{cssactive page 'orderlist'}}">
                <i class="metismenu-icon pe-7s-diamond"></i>
                Pending Orders
            </a>
            </li>
            <li>
            <a href="/invoice/invoicelist" class="mm-{{cssactive page 'invoicelist'}}">
                <i class="metismenu-icon pe-7s-car"></i>
                Orders History
            </a>
            </li>
            <li>
            <a href="tables-regular.html">
                <i class="metismenu-icon pe-7s-display2"></i>
                Tables
            </a>
            </li>
            <li class="app-sidebar__heading">Users</li>
            <li>
            <a href="/report/listUsers" class="mm-{{cssactive page 'users'}}">
                <i class="metismenu-icon pe-7s-display2"></i>
                User Management
            </a>
            </li>
            <li class="app-sidebar__heading">Menu</li>
            <li>
            <a href="/menu/AddDrink">
                <i class="metismenu-icon pe-7s-cloud-upload">
                </i>Add Drinks
            </a>
            </li>
            <li>
            <a href="/menu/UpdateDrink">
                <i class="metismenu-icon pe-7s-eyedropper">
                </i>Update Drinks
            </a>
            </li>
            <li>
            <a href="/menu/DeleteDrink">
                <i class="metismenu-icon pe-7s-trash">
                </i>Delete Drinks
            </a>
            </li>
            <li class="app-sidebar__heading">Charts</li>
            <li>
            <a href="">
                <i class="metismenu-icon pe-7s-graph2">
                </i>ChartJS
            </a>
            </li>
        </ul>
        </div>
        </div>
        </div>