<h1 class="fw-bold text-center mb-3">Create Support Thread</h1>

<form method="POST" action="">
    <div class="text-left">
       
        <div class="mb-3 mx-auto" style="max-width: 750px;">
            <p>Thread Title: </p>
            <input type="text" name="thread_Title" placeholder="Please provide a title for your thread..." class="form-control" required>
        </div>
        <div class="mb-3 mx-auto" style="max-width: 750px;">
            <p>Thread Description: </p>
            <textarea placeholder ="Please briefly describe your inquiry..." rows="5" cols = "60" name="thread_Content" class="form-control" required></textarea><br>
        </div>

    

        <div class="mx-auto" style="max-width: 750px;">
            <input type="submit" value="Create Support Thread" class="btn btn-info w-100 mb-1">
        </div>
        <div class="mx-auto" style="max-width: 750px;">
            <small class="fw-bold text-danger">
                <sup>*</sup>By proceeding to create a thread, you are deemed to have read and agreed to be legally bound by the guidelines and warning listed on the previous page.
            </small>
        </div>
    </div>
</form>


<style>
    input:placeholder-shown {
   font-style: italic;
}

    textarea:placeholder-shown {
   font-style: italic;
}
</style>