


<div class="container-fluid">
    
        
      <div class="container-sm my-2" style="width: 90%;" >
        <h1 class="fw-bold text-center mb-3" >Report This Thread</h1>

        <form method="post" action = "">
         <div class="mb-3" style="width: 350px; padding-left:185px;">
            <p class ="fw-bold">Reason for report: 

            <select id="type" name="type">
            <option value="Harassment or bullying">Harassment or bullying</option>
            <option value="Sexual Content">Sexual Content</option>
            <option value="Promotes terrorism">Promotes terrorism</option>
            <option value="Illegal or dangerous content">Illegal or dangerous content</option>
            <option value="Spam or misleading">Spam or misleading</option>
        </select>
        </p>
        </div>
        <div class="mb-3 mx-auto" style="max-width: 750px;">
            <p class="fw-bold">Description:
                <input type="text" name="description" class="form-control" >
            </p>
        </div>
       
        
       
          
          
          <div style="width: 95%;">
            <button type="submit" value="Submit" class="float-end mb-3" style="background-color: rgba(196, 250, 247, 0.904); padding: 1px 5px; margin: 7px;">Submit</button>
          </div>
      </form>
      </div>
      

</div>
