<h1 class="fw-bold text-center mb-3">Update Support Thread</h1>

<form method="POST" action="">
    <!-- Modal Codes (SUBMIT) -->
    <div class="modal fade" id="staticBackdropReply" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="fw-bold" id="staticBackdropLabel">Reply Confirmation</h5>
                </div>
                <div class="modal-body">
                    <p>Are you sure that you would want to add a reply?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-info">Add Reply</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Codes (DELETE) -->
    <div class="modal fade" id="staticBackdropDiscard" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelDiscard" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="fw-bold" id="staticBackdropLabelDiscard">Discard Confirmation</h5>
                </div>
                <div class="modal-body">
                    <p>Are you sure that you would want to discard your changes and exit?</p>
                    <small class="text-danger fw-bold">
                        <sup>*</sup>This action is irreversible.
                    </small>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a href="/forums/forums">
                        <button type="button" class="btn btn-danger">Confirm</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="text-left">
        <div class="mb-3 mx-auto" style="max-width: 750px;">
            <p class="fw-bold">Thread Title:
                <input type="text" name="thread_Title" class="form-control" value="{{Thread.thread_Title}}" >
            </p>
        </div>
        <div class="mb-3 mx-auto" style="max-width: 750px;">
            <p class="fw-bold">Thread Description:
                <input type="text" name="thread_Content" class="form-control"value="{{Thread.thread_Content}}" >
            </p>
        </div>
      
        <hr class="mx-auto" style="max-width: 750px;">
        
        <div class="mx-auto" style="max-width: 750px;">
            <!-- Trigger Add Reply Modal -->
            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#staticBackdropReply">Save Changes</button>
            <!-- Trigger Discard Changes & Go Back Modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdropDiscard">Discard Changes & Exit</button>
        </div>
    </div>
</form>