<h1 class="fw-bold text-center mb-3">View Support Thread</h1>
<hr>
 <div class="card mb-3">
            <div class="card-header">
                <h5 class="fw-bold my-1">{{ thread_Title }}</h5>
                <small class="p-0">Posted by: {{ thread_Username }}</small>
            </div>
            <div class="card-body py-2">
                <p class="mb-1 fst-italic">Please selection an option:</p>
               
                    
            </div>
        </div>


    <div class="mx-auto" style="max-width: 750px;">
        <a href="/forums/forums">
            <button type="button" class="btn btn-info btn-block">Go Back</button>
        </a>
    </div>
</div>
{% endblock %}