<section class="header">
    <div class="centered">
            <h1>
                {{!-- <body background="../images/MenuHeader.png"> --}}
                    <center>
                        Menu
                    </center>
                {{!-- </body> --}}
            </h1>
 </section>

<section class="py-3 bg-light">
    <div class="container px-4 px-lg-6">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="../images/SignaT.png" alt="Signaturetea.png" style="width:275px;height:300px;">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">Signature Drink</h5>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" href="/menu/category/SignaT">View</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="../images/Macchiato.png" alt="macchiato.png" style="width:275px;height:300px;">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">Macchiato</h5>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" href="/menu/category/Macchiato">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="../images/Gtea.png" alt="Greentea.png" style="width:275px;height:300px;">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">Green Tea</h5>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" href="/menu/category/Greentea">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="../images/Matcha.png" alt="matcha.png" style="width:275px;height:300px;">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">Matcha</h5>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" href="/menu/category/Matcha">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="../images/Mtea.png" alt="Milktea.png" style="width:275px;height:300px;">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">Milk Tea</h5>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" href="/menu/category/Milktea">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="../images/Oolong.png" alt="oolong.png" style="width:275px;height:300px;">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">Oolong Tea</h5>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" href="/menu/category/Oolongtea">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>