<section class="et-hero-tabs">
      <img src='images\52---icecek.jpg'>
   <h1>Menu</h1>
 </section>

<section class="py-3 bg-light">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="images/A1sportback.png" alt="A1sportback.png" width="100%" height="150px">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">Audi A1 sportback</h5>
                            <p>S$280,650</p>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" href="/buy-car">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <div class="badge bg-success text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <img class="card-img-top" src="images/bmw318isedan.png" alt="bmw318isedan.png" width="100%" height="150px">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">BMW 318i sedan</h5>
                            <p>
                                <span class="text-muted text-decoration-line-through">S$300,000</span>
                                <span>S$231,888</span>
                            </p>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" href="/buy-car">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <div class="badge bg-success text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <img class="card-img-top" src="images/bmw520isedan.png" alt="bmw520isedan.png" width="100%" height="150px">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">BMW 520i sedan</h5>
                            <span class="text-muted text-decoration-line-through">S$300,000</span>
                            <span>S$286,888</span>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" href="/checkout">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="images/bmw420icoupe.png') }}" alt="bmw420icoupe.png" width="100%" height="150px">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">BMW 420i coupe</h5>
                            <p>S$280,650</p>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" href="/buy-car">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>