


<div class="container-fluid">
    

      <div class="container-sm my-2" style="width: 90%;" >
        <h1 class="fw-bold text-center mb-3" >Add Voucher</h1>

        <form method="POST" action = "">
        <div class="text-left">
        <div class="mb-3 mx-auto" style="max-width: 750px;">
            <p class="fw-bold">Voucher Name:
                <input type="text" name="Voucher_Name" class="form-control" >
            </p>
        </div>
        <div class="mb-3 mx-auto" style="max-width: 750px;">
            <p class="fw-bold">Description
                <input type="text" name="Description" class="form-control" >
            </p>
        </div>
        <div class="" style="width: 500px; padding-left:169px;" >
            <p class="fw-bold">Value 
            <input type="text" name="Value"  class="form-control" required >
            </p>
        </div>
        
        <div class="mb-3" style="width: 300px; padding-left:169px;">
            <p class ="fw-bold">Status: 
            <select id="Status" name="Status">
            <option value="Available">Available</option>
            <option value="Used">Used</option>
            <option value="Removed">Removed</option>
            <option value="Expired">Expired</option>
        </select>
        </p>
        </div>
          
          
          <div style="width: 95%;">
            <input type="submit" value="Add Voucher" class="float-end mb-3" style="background-color: rgba(196, 250, 247, 0.904); padding: 1px 5px; margin: 7px;">
          </div>
      </form>
      </div>
      

</div>
