<div class="container-fluid">
    

      <div class="container-sm my-2" style="width: 90%;" >
        <h1 class="fw-bold text-center mb-3" >Add Drink</h1>

        <form method="POST" action = "">
        <div class="text-left">
        <div class="mb-3 mx-auto" style="max-width: 750px;">
            <p class="fw-bold">Drink Name:
                <input type="text" name="name" class="form-control" >
            </p>
        </div>
        
        <div class="mb-3" style="width: 300px; padding-left:214px;">
            <p class ="fw-bold">Category: 
            <select id="Category" name="Category">
            <option value="SignaT">SignaT</option>
            <option value="Macchiato">Macchiato</option>
            <option value="Gtea">Green tea</option>
            <option value="Matcha">Mactha</option>
            <option value="Mtea">Milk tea</option>
            <option value="Oolong">Oolong tea</option>
        </select>
        </p>
        </div>

        <div class="mb-3 mx-auto" style="max-width: 750px;">
            <p class="fw-bold">Drink Description
                <input type="text" name="desc" class="form-control" >
            </p>
        </div>
        
        <div class="mb-3" style="width: 500px; padding-left:214px;" >
            <p class="fw-bold">Drink Price 
            <input type="text" name="price"  class="form-control" required >
            </p>
        </div>
        
        
    
          
          
          <div style="width: 95%;">
            <input type="submit" value="Add Drink" class="float-end mb-3" style="background-color: rgba(196, 250, 247, 0.904); padding: 1px 5px; margin: 7px;">
          </div>
      </form>
      </div>
      

</div>