<h1 class="fw-bold text-center py-4 px-2">Checkout</h1>
<hr>
<div class="row">
    <div class="col-xl-3">
        <div class="card">
            <div class="card-header bg-info">
                <h5 class="fw-bold mb-0">
                    <i class="fa-solid fa-cart-shopping me-1"></i>My Cart
                </h5>
            </div>
            <div class="card-body">
                <p class="fw-bold mb-0">Tesla Model S</p>
                <ul style="list-style: none;">
                    <li>Price: SGD200,000</li>
                </ul>
                <p class="fw-bold mb-0">Shipping</p>
                <ul style="list-style: none;">
                    <li>Price: SGD1,000</li>
                </ul>
                <hr>
                <p class="fw-bold mb-0">Total (GST inclusive): SGD201,000</p>
            </div>
        </div>
    </div>
    <div class="col-xl-9">
        <div class="card">
            <div class="card-header bg-info">
                <h5 class="fw-bold mb-0">
                    <i class="fa-solid fa-circle-info me-1"></i>Payment Information
                </h5>
            </div>
            <!--<div class="card-body">
                <form method="POST" action="">
                    <div class="text-left">
                        <h5 class="fw-bold mb-3">Billing Address</h5>
                        <div class="mb-2 mx-auto">
                            <label for="address">Address</label>
							<input type="text" name="address" class="form-control" required>
                        </div>
                        <div class="mb-2 mx-auto">
                            <label for="postal_code">Postal Code</label>
							<input type="text" name="postal_code" class="form-control" required>
                        </div>
                        <hr>
                        <h5 class="fw-bold mb-3">Card Details</h5>
                        <div class="my-3">
                            <p class="mb-1">We accept the following payment method:</p>
                            <i class="fa-brands fa-cc-visa" style="color: #1437ce; font-size: 35px;"></i>
                            <i class="fa-brands fa-cc-mastercard" style="color: #eb001b; font-size: 35px;"></i>
                            <i class="fa-brands fa-cc-amex" style="color: #0076ce; font-size: 35px;"></i>
                        </div>
                        <div class="mb-2 mx-auto">
                            <label for="card_name">Card name</label>
							<input type="text" name="card_name" class="form-control" required>
                        </div>
                        <div class="mb-2 mx-auto">
                            <label for="card_name">Card name</label>
							<input type="text" name="card_name" class="form-control" required>
                        </div>
                        <div class="mb-2" style="max-width: 22.5%;">
                            <label for="expmonth">Expire month</label>
							<input type="number" name="expmonth" class="form-control" required>
                        </div>
                        <div class="mb-2" style="max-width: 22.5%;">
                            <label for="expyear">Expire year</label>
							<input type="number" name="expyear" class="form-control" required>
                        </div>
                        <div class="mb-2" style="max-width: 22.5%;">
                            <label for="cvve">cvv</label>
							<input type="number" name="cvv" class="form-control" required>
                        </div>
                        <div class="mb-2 form-check">
                            <input type="checkbox" class="form-check-input" id="billingAddressSameAsShipping">
                            <label class="form-check-label" for="billingAddressSameAsShipping">Billing address same as shipping address</label>
                        </div>
                        <div class="mx-auto">
                            <input type="submit" value="Place Order" class="btn btn-info w-100">
                        </div>
                    </div>
                </form>
            </div>-->
            <div id="paypal-button-container"></div>
        </div>
    </div>
</div>


<!-- Sample PayPal credentials (client-id) are included -->
<script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD&intent=capture&enable-funding=venmo"></script>

<script>
const fundingSources = [
    paypal.FUNDING.PAYPAL,
    paypal.FUNDING.VENMO,
    paypal.FUNDING.PAYLATER,
    paypal.FUNDING.CARD
    ]

for (const fundingSource of fundingSources) {
    const paypalButtonsComponent = paypal.Buttons({
    fundingSource: fundingSource,

    // optional styling for buttons
    // https://developer.paypal.com/docs/checkout/standard/customize/buttons-style-guide/
    style: {
        shape: 'rect',
        height: 40,
    },

    // set up the transaction
    createOrder: (data, actions) => {
        // pass in any options from the v2 orders create call:
        // https://developer.paypal.com/api/orders/v2/#orders-create-request-body
        const createOrderPayload = {
        purchase_units: [
            {
            amount: {
                value: '88.44',
            },
            },
        ],
        }

        return actions.order.create(createOrderPayload)
    },

    // finalize the transaction
    onApprove: (data, actions) => {
        const captureOrderHandler = (details) => {
        const payerName = details.payer.name.given_name
        console.log('Transaction completed!')
        }

        return actions.order.capture().then(captureOrderHandler)
    },

    // handle unrecoverable errors
    onError: (err) => {
        console.error(
        'An error prevented the buyer from checking out with PayPal',
        )
    },
    })

    if (paypalButtonsComponent.isEligible()) {
    paypalButtonsComponent
        .render('#paypal-button-container')
        .catch((err) => {
        console.error('PayPal Buttons failed to render')
        })
    } else {
    console.log('The funding source is ineligible')
    }
}
</script>
